name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: ["3.8"]
        poetry-version: ["1.8.3"]
    steps:
      - 
        uses: actions/checkout@v4
      - 
        name: Install Poetry
        run: pipx install poetry==${{ matrix.poetry-version }}
      - 
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
      - 
        name: Publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: |
          poetry build -f wheel
          poetry publish
